$GreenDark : #0D370E;
$GreenLight : #258627;
$White : #FFFFFF;
$Black : #000000;

.bg-receita {
  background-color: #0D370E !important; 
}

.bg-despesa {
  background-color: #8B0000 !important; 
}
.bg-receitas {
  background-color: #28A745 !important; 
}

.bg-despesas {
  background-color: #db1616 !important; 
}

nav{
    width: 30vw;

    background-color: $GreenDark;
    color: $GreenLight;
}
.logo{
    width: 25vw;
    height: 100%;
}
hr{
    width: 100%;
    border: 2px solid $GreenLight;
}
button{
    background-color: $GreenDark;
    color: $GreenLight;
    width: 30vw;
    border: none;
    padding: 20px;
    cursor: pointer;

    &:hover{
        background-color: $GreenLight;
        color: $GreenDark;
        transition: 0.5s;
    }
}
#gestoes,.criarGestao{
    min-width: 70vw;
}
a{
    cursor: pointer;
}
.btnNvGestao{
    border: none;
    background-color: $GreenDark;
    color: $GreenLight;

    &:hover{
        border: none;
        background-color: $GreenLight;
        color: $GreenDark;
        transition: 0.5s;
    }
}
.card{
    border: 2px solid $GreenLight;
    border-radius: 10px;
    background-color: $GreenDark;
    color: $GreenLight;
    width: 180px;
    height: 130px;

    .card-content{
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1;
    }

    &:hover{
    cursor: pointer;
    border: none;
    background-color: $GreenLight;
    color: $GreenDark;
    box-shadow: 0 4px 8px 5px rgba(0, 0, 0, 0.144);
    translate: 2px -5px;
    transition: 0.3s;
    }
}

.scroll-area{
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.all-screen{
    max-height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
}

.acoes{
    border: 2px solid $GreenLight;
    background-color: $GreenDark;
    color: $White;
}

.content-description{
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
}

.delete-acao{
    background-color: transparent;
    border: none;
    color: $White;
    width: 25px;
    cursor: pointer;

    &:hover{
        color: red;
        transition: 0.3s;
    }
}


